<!DOCTYPE html>
<html>
<title>Front-End Challenge</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Open Sans", sans-serif}
</style>
<div ng-controller="TestingController">
	<body class="w3-theme-l5">


<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m3">   
      <!-- Accordion -->
      <div class="w3-card-2 w3-round">
        <div class="w3-accordion w3-white">
     		
     	  <button  class="w3-btn-block w3-theme-l1 w3-left-align"><i class="fa fa-bars fa-fw w3-margin-right"></i> <strong>Filters</strong></button>
          <button ng-click="myFunction('Demo1')" class="w3-btn-block w3-theme-l1 w3-left-align"><i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i> Videos to display</button>
          <div id="Demo1" class="w3-accordion-content w3-container">
            	  <p>
				  <input class="w3-radio" type="radio" name="numberPerPage" ng-model="numberPerPage" value="10" >
				  <label class="w3-validate">10 per Page</label></p>
				  <p>
				  <input class="w3-radio" type="radio" name="numberPerPage" ng-model="numberPerPage" value="25">
				  <label class="w3-validate">25 per Page</label></p>
				  <p>
				  <input class="w3-radio" type="radio" name="numberPerPages" ng-model="numberPerPage" value="50">
				  <label class="w3-validate">50 per Page</label></p>
          </div>
          <button ng-click="myFunction('Demo2')" class="w3-btn-block w3-theme-l1 w3-left-align"><i class="fa fa-thumbs-up fa-fw w3-margin-right"></i> Filter by Likes</button>
          <div id="Demo2" class="w3-accordion-content w3-container">
			      <p>
				  <input class="w3-radio" type="radio" name="likesFilter" ng-model="likesFilter" value="Yes" checked>
				  <label class="w3-validate">Yes</label></p>
				  <p>
				  <input class="w3-radio" type="radio" name="likesFilter" ng-model="likesFilter" value="No">
				  <label class="w3-validate">No</label></p>
          </div>
          <button ng-click="myFunction('Demo3')" class="w3-btn-block w3-theme-l1 w3-left-align"><i class="fa fa-comment fa-fw w3-margin-right"></i> Filter by description text</button>
          <div id="Demo3" class="w3-accordion-content w3-container">
         	<p><label class="w3-label">Text to search</label>
			<input class="w3-input" type="text"></p>
          </div>
        
        </div> 
        <br>
        <button ng-click="display()" class="w3-btn-block w3-dark-grey w3-left-align"><i class="fa fa-refresh fa-fw w3-margin-right"></i> Display Videos </button>
             
      </div>
      <br>
      
      <br>
      
      <!-- Alert Box -->
      <div class="w3-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
        <span onclick="this.parentElement.style.display='none'" class="w3-hover-text-grey w3-closebtn">
          <i class="fa fa-remove"></i>
        </span>
        <p><strong>Hey!</strong></p>
        <p>Use filters above Then click on Display results</p>
      </div>
     
     <!-- ADS Box -->
     <div class="w3-card-2 w3-round w3-white w3-padding-16 w3-center">
        <p>ADS</p>
      </div>
    
    <!-- End Left Column -->
    </div>
    
    <!-- Middle Column -->
    <div class="w3-col m9" >
    
     
      <ul class="w3-pagination w3-right" >
		  
		  <div class="w3-pagination w3-right" pages-directive key="pages" ></div>
		
	  </ul>
     <br>

      <div class="w3-container w3-card-2 w3-white w3-round w3-margin" ng-repeat="object in ListDisplay"><br>
  		 <div class="w3-col m3">
  		 	<div class="w3-row">
			        <img src=object.user.pictures.sizes[0].link alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px"> 
			</div> 
			<div class="w3-row">
			        <h4>   {{object.user.name}}</h4><br>
			</div>
        </div>
         <div class="w3-col m9"> 
         			<h2><a href="object[0].link">{{object.name}}</a></h2>
			        <p>Description : {{object.description}}</p>
			        <div class="w3-btn w3-theme-d1 w3-margin-bottom"><i class="glyphicon glyphicon-eye-open"></i>{{object.stats.plays}}  Vues</div>
			        <div class="w3-btn w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>{{object.metadata.connections.likes.total}}  Like</div>
			        <div class="w3-btn w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>{{object.metadata.connections.comments.total}} Comment</div>
        </div>      	
      </div>  

     
      
    <!-- End Middle Column -->
    </div>
    

    
  <!-- End Grid -->
  </div>
  
<!-- End Page Container -->
</div>
<br>


 
<script>
</script>

</body>

</div>

</html>
